.App {
  text-align: center;
}

input {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beer-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.beer-card img {
  max-width: 100%;
  height: auto;
}
